body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: color #f0f0f0; ;
    color: #333;
}
header {
    background-color: #333;
    color:#fff ;
    padding: 20px;
    text-align: center;
}
nav {
    text-align: center;
    margin: 20px 0;
}
nav a {
    display: inline-block;
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2;
}
nav a:hover {
    color: #007BFF;
}
section {
    margin: 2em;
}
h2 {
    color: #333;
    font-size: 1.5em;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    background-color: #e2e2e2;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border-radius: 5px;
}
footer {
    text-align: center;
    padding: 1em;
    background-color:#333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
.btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    
}
.btn:hover {
    background-color: #0056b3;
}